<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li class="hidden">
      <a href="#page-top"></a>
    </li>
    <li>
      <a class="page-scroll" href="#services">Hi</a>
    </li>
    <!-- <li>
    <a class="page-scroll" href="#portfolio">Portfolio</a>
  </li> -->
  <li>
    <a class="page-scroll" href="#about">History</a>
  </li>
  <li>
    <a class="page-scroll" href="#team">Roster</a>
  </li>
  <li>
    <a class="page-scroll" href="http://forums.vindicatum.com/index.php">Forums</a>
  </li>
</ul>
</div>
<!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"></div>
      <div class="intro-heading">Vindicatum</div>
      <a href="https://www.warcraftlogs.com/guilds/395/" class="page-scroll btn btn-xl">
        <h6>Our raid times are:</h6>
        <h6>Sunday 8pm EST - 12:15pm EST </h6>
        <h6>Monday 9pm EST - 12:15pm EST </h6>
        <h6>Wednesday 9pm EST - 12:15pm EST </h6>
        <h6>Click This Button for our logs</h6>
      </a>
    </div>
  </div>
</header>

<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Hi.</h2>
        <h3 class="section-subheading">
          <p>We're Vindicatum,</p>
          <p>We're the premier raiding guild on Iceygos (Icecrown+Malygos)</p>
          <p>
            We do on a strict 3 day schedule what most guilds try to accomplish in 4 or 5. On fewer hours.
            We like playing games together and our core member group has been established since the beginning of Burning Crusade.
            We always welcome people who adhere to our philosophy and mindset and look for exceptional players to join us in our progression pushes.
            Head over to our about+application page if you're interested in joining us.
          </p>
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">3-day Strict.</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Loot Council</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Shenanigans</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="about" class= "bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">History</h2>
        <h3 class="section-subheading text-muted">We've been around a while.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <%= image_tag 'kaelthas.png', class: "img-circle img-responsive" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Burning Crusade</h4>
                <h4 class="subheading">Sep + Neurth form the supergroup</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Insert overhyped shit about our beginnings</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= image_tag 'm\'uru.jpg.png', class: "img-circle img-responsive" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>World 72</h4>
                <h4 class="subheading">A legend is born</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">We pwn'd Mu'ru or some shit</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <%= image_tag "wrathnaxx.png", class: "img-circle img-responsive" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Wrath of the Lich King</h4>
                <h4 class="subheading">Came out swingin'</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">We pretty much wrecked. Until shadowtrap. Then we broke up. *sniffle*</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= image_tag 'cataclysm.png', class: "img-circle img-responsive" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Cataclysm</h4>
                <h4 class="subheading">A reformation</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Neurth sounds the trumpets of war, the faithful answer the call.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <%= image_tag 'garrosh.png', class: "img-circle img-responsive" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>MoP</h4>
                <h4 class="subheading">Lows and Highs</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Some shit happened, and then we pooped on Reminiscence and most of the rest of the world.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Raid Team</h2>
        <h3 class="section-subheading text-muted">Click the left for armory and the right for warcraft logs</h3>
      </div>
    </div>
    <div class="row">
      <!--each loop here -->
      <% @members.each do |member| %>
      <div class="col-sm-4">
        <div class="team-member">
          <h3><%= member[:name] %></h3>
          <p class="text-muted"><%= member[:role] %></p>
          <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li><%= image_tag "#{member[:class]}.ico", class: "img-roster" %></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  </section>


  <!-- Stream Links / Online::Offline Indicators -->
  <aside class="clients">
    <div class="container">
      <div class="row">
        <p>
          Stream Shit Goes Here.
        </p>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <%= image_tag 'Twitch_BlackLogo.png', class: 'img-responsive img-centered' %>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <%= image_tag 'Twitch_BlackLogo.png', class: 'img-responsive img-centered' %>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <%= image_tag 'Twitch_BlackLogo.png', class: 'img-responsive img-centered' %>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <%= image_tag 'Twitch_BlackLogo.png', class: 'img-responsive img-centered' %>
          </a>
        </div>
      </div>
    </div>
  </aside>





  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Vindicatum</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </footer>
